<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474491838776-jf41122qls782f52h6fnk45u9fi122rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474491838776-jf41122qls782f52h6fnk45u9fi122rj</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Lws23_zHpSFH0peWmmJbmobWU5zgkRA</string>
	<key>GCM_SENDER_ID</key>
	<string>474491838776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.client.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-4b3a3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-4b3a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474491838776:ios:77f51bbd69399ac6f4a1cd</string>
</dict>
</plist>